@charset "UTF-8";

/* chung */
* {
	font-family: "Tahoma";
}

#title {
	text-align: center;
}

#nav {
	list-style: none;
	width: 100%;
}

h1 {
	color: #4db748;
}

button {
	padding: 7px 7px; 
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	color: #4db748;
	text-decoration: none;
	font-size: 140%;
	cursor: pointer;
	transition: 0.3s;
	border: none;
	text-align: left;
}

button:hover {
	background-color: #4db748;
	color: white;
}

/* hai khung hình */
#col-left {
	float: left;
	width: 30%;
	border: solid 2px #ccc;
}

#col-right {
	width: 68%;
	float: right;
	border: solid 2px #ccc;
}

#col-right>p {
	color: black;
	background-color: white;
	max-width: 100%;
	padding: 12px;
	font-size: 140%;
	overflow-wrap: break-word;
	transition: 0.3s;
}

